@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
body {
    margin: 0;
    padding: 0;
    background-color: rgb(225, 212, 147);
    font-family: Montserrat, sans-serif;
  }
.nav-list {
    background: rgb(124, 171, 215);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-items {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-items a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in;
  }
  
  .nav-items:first-child {
    margin-right: auto;
    margin-left: 1px;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
}
.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.info_div {
    text-align: center;
    margin-top: 20px;
}
.info_div {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}


  .footer{
    position:fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  table, th, td {
    border: 1px solid;
  }

  
  
 